<%- layout('/layouts/boilerplate.ejs')%>
    <h1 class="text-center mb-5">Add New Photo</h1>
    <div class="row col-md-6 offset-3">
        <form method="POST" action="/photos/<%=foundEntry._id%>?_method=PUT" novalidate class="needs-validation"
            enctype="multipart/form-data">
            <div class=" mb-3">
                <label for="title" class="form-label">Edit Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title of your photo"
                    name="photos[title]" value="<%=foundEntry.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid title.
                </div>
            </div>
            <div class=" mb-3">
                <label for="location" class="form-label">Edit Location</label>
                <input type="text" class="form-control" id="location" placeholder="Enter Location"
                    name="photos[location]" value="<%=foundEntry.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid location.
                </div>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Edit Photo</label>
                <input type="file" class="form-control" id="photo" placeholder="Upload Photo" name="image" multiple
                    value="<%=foundEntry.photo%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid photo.
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Edit Description</label>
                <textarea name="photos[description]" id="decsription" cols="5" rows="5" class="form-control"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>