<%- layout('/layouts/boilerplate.ejs')%>
    <h1 class="text-center mb-5">Add New Photo</h1>
    <div class="row col-md-6 offset-3">
        <form method="POST" action="/photos/<%=foundEntry._id%>?_method=PUT" novalidate class="needs-validation"
            enctype="multipart/form-data">
            <div class=" mb-3">
                <label for="title" class="form-label">Edit Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title of your photo"
                    name="photos[title]" value="<%=foundEntry.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid title.
                </div>
            </div>
            <div class=" mb-3">
                <label for="location" class="form-label">Edit Location</label>
                <input type="text" class="form-control" id="location" placeholder="Enter Location"
                    name="photos[location]" value="<%=foundEntry.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid location.
                </div>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Edit Photo</label>
                <input type="file" class="form-control" id="photo" placeholder="Upload Photo" name="image" multiple
                    value="<%=foundEntry.photo%>">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid photo.
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Edit Description</label>
                <textarea name="photos[description]" id="decsription" cols="5" rows="5" class="form-control"
                    required><%=foundEntry.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            <!-- 
        checkboxes -->
            <!-- itrate over all the images in this entry and make the form send the selected images to be deleted -->
            <% if(foundEntry.photo[0]){ %>
                <h4 class="mt-4">Select images to delete:</h4>
                <% } %>
                    <div class="row mt-3">
                        <div class="col-12 d-flex flex-row">
                            <% foundEntry.photo.forEach((delPhoto, index)=>{%>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="image-<%=[index]%>"
                                        value="<%=delPhoto.filename%>" name="deleteImages[]">
                                    <label class="form-check-label" for="image-<%=[index]%>">Delete<img
                                            src="<%=delPhoto.thumbnail%>" class="img-thumbnail" alt=""></label>
                                </div>
                                <% }) %>
                        </div>

                    </div>
                    <button class=" btn btn-success mt-3 mb-3">Update</button>
        </form>
    </div>